@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";


@import "components/bg-video";
@import "components/button";
@import "components/card";
@import "components/composition";
@import "components/feature-box";
@import "components/story";
@import "components/form";
@import "components/popup";

@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "layout/navigation";

@import "pages/home";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: gray;
  padding: 30px;
}

.ItemsList {
  background: gray;
  padding-bottom: 20vh;
}

#navbar {
  background-color: black !important;
}

#navContainer {
  width: 97%;
  height: 15vh;
}


#navLogo {
  border: 1px solid #e28c05;
  height: 11vh;
  background-color: black !important;
  overflow: auto;
}

#navItem {
  border: 1px solid white;
  height: auto;
  margin: auto 1.5em 4vh 1.5em;
}

#navButtons {
  height: 10vh;
  margin: auto 0.5em auto 0.5em;
}

#navbarMobile {
  /* background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/gather-banner1.jpg") !important; */
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
}

.navLogoMobile {
  width: 5%;
  background-color: black !important;
}

#navSideBar {
  /* background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/cafe4.jpg") !important; */
  filter: blur(2px);
  background: cover;
  background-repeat: no-repeat;
  padding: 1em;
}

.content {
  background-color: #aba387 !important;
}

#menuCard {
  background-color: #e28c05 !important;
}

#submitOrderButtons {
  margin-top: 2em !important;
}

#menuList {
  background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/cafe1.jpg");
  background-size: cover;
}

#menuListItem {
  opacity: 0.95;
  width: 40%;
  text-align: center;
}