//COLORS
$color-primary: #ffa91f;
$color-primary-light: #ffc72e;
$color-primary-dark: #be5c00;

$color-secondary-light: #ee8632;
$color-secondary-dark: #7c2b00;

$color-tertiary-light: #fbff29;
$color-tertiary-dark: #fa8643;

$color-grey-light-1: #ccb8b8;
$color-grey-light-2: rgb(182, 166, 166);

$color-grey-dark: #8a897c;
$color-grey-dark-2: rgb(100, 82, 82);
$color-grey-dark-3: #363532;

$color-white: #fff;
$color-black: #000;

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical-small: 6rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;