//COLORS
$color-primary: #A85728;
$color-primary-light: #EAC183;
$color-primary-dark: #74594C;

$color-secondary-light: #EEEAD1;
$color-secondary-dark: #D5B497;

$color-tertiary-light: #E9D3AE;
$color-tertiary-dark: #C6B2A9;

$color-grey-light-1: #EBE8E3;
$color-grey-light-2: rgb(182, 166, 166);

$color-grey-dark: #91989C;
$color-grey-dark-2: #718398;
$color-grey-dark-3: #363532;

$color-white: #fff;
$color-black: #0A0B0F;

//FONTS
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertical-small: 6rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;