.homePage {
    background-image: linear-gradient(
        to left top,
         rgba(255, 166, 0, 0.7), 
         rgba(165, 42, 42, 0.7)), 
         url("https://s3.us-east-2.amazonaws.com/gather-stock/cafe2.jpg");
    background-size: cover;
    height: 100%;
    width: 100%;
    background-position: relative;
    padding: 8rem;
    margin: 1rem;

    &__header {
    height: 75vh;
    text-align: center;
    padding: 8rem;
    margin: 1rem;
    opacity: .95;
    border: 4px dashed blue;
    }
  }