.card {
    perspective: 125rem;
    -moz-perspective: 125rem;
    position: relative;
    height: 40rem;
    font-family: $font-primary;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__image {
        width: 100%;
        box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    }

    &__side {
        height: 52rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &--front {
            background-color: $color-black;
        }

        &--back {
            transform: rotateY(180deg);

            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(-180deg);
    }

    &:hover &__side--back {
        transform: rotateY(0deg);
    }

    &__picture {
        background-size: cover;
        height: 35rem;
        background-blend-mode: screen;
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 55%, 0 100%);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(#);
        }
    }

    &__heading {
        font-size: 4.5rem;
        font-family: $font-header;
        font-weight: 500;
        line-height: 6rem;
        text-transform: uppercase;
        text-align: center;
        color: $color-primary;
        left: 5rem;

    }

    &__heading-span {
        padding: 1rem 1rem;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, rgba($color-secondary-light, .85), rgba($color-secondary-dark, .85))
        }
    }

    &__details {
        border: 1px solid black;
        font-size: 2rem;
        font-weight: 900;
        padding: 3rem;
    }

    &__cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
    }

    &__price-box {
        color: $color-white;
        margin: 4rem 14rem 8rem 18rem;
        text-align: center;
    }
    
    &__price-only {
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    
    &__price-value {
        background-color: rgba($color-secondary-light, .85);
        border: 1px solid $color-white;
        width: 10rem;
        font-size: 6rem;
        font-weight: 100;
    }

    // @include respond(tab-port) {
    @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {
        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;

            &--back {
                transform: rotateY(0);
                clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
            }
        }

        &:hover &__side--front {
            transform: rotateY(0);
        }

        &__details {
            padding: 1rem 3rem;
        }

        &__cta {
            position: relative;
            top: 0%;
            left: 0;
            transform: translate(0);
            width: 100%;
            padding: 7rem 4rem 4rem 4rem;
        }

        &__price-box {
            margin-bottom: 3rem;
        }

        &__price-value {
            font-size: 4rem;
        }
    }
}