body {
  background-color: black;
}

Button {
  background-color: #E28C05 !important;
  color: white !important;
}


a {
  color: #a0470e !important;
  text-decoration-style: double;
  font-size: large !important;
  font-weight: bold;
}


#navbar {
  background-color:
    black !important;
}

#navContainer {
  width: 97%;
}

#navLogo {
  height: 13vh;
  background-color: black !important;
  overflow: auto;
  margin: auto .5em 2vh .5em;
}

#navItem {
  border: 1px solid white;
  height: auto;
  margin: auto .5em 3.5em .5em;

}

#navButtons {
  height: 20vh;
  margin: auto 0.5em auto 0.5em;
}

#navbarMobile {
  background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/gather-banner1.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
}

.navLogoMobile {
  width: 5%;
  background-color: black !important;
}

#navSideBar {
  background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/cafe4.jpg") !important;
  filter: blur(2px);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
}

.itemCard {
  margin: 2vh 0 2vh 0 !important;
}

.content {
  background-color: #ABA387 !important;
}

#menuCard {
  background-color: #E28C05 !important;
}

#footer {
  background-color: #ABA387 !important;
  margin-top: 2em;
  color: black !important;
  text-align: center;
}

#submitOrderButtons {
  margin-top: 2em !important;
}

#homePage {
  border: 1px solid blue;
  background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/cafe1.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  width: 97%;
  position: relative;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 1.5em;
}

#homeBackground {
  background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/cafe2.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;

}

#menuList {
  background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/cafe1.jpg");
  background-size: cover;
}

#menuListItem {
  opacity: .95;
  width: 40%;
  text-align: center;
}