body {
  background-color: black;
  background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/cafe2.jpg") !important;
  background-repeat: no-repeat;
  height: 100%;
  opacity: .92;
}

Button {
  background-color: #E28C05 !important;
  color: white !important;
}


a {
  color: #a0470e !important;
  text-decoration-style: double;
  font-size: large !important;
  font-weight: bold;
}


#navbar {
  background-color:
    black !important;
}

#navContainer {
  width: 97%;
  height: 15vh;

}

#navLogo {
  border: 1px solid #E28C05;
  height: 11vh;
  background-color: black !important;
  overflow: auto;
}

#navItem {
  border: 1px solid white;
  height: auto;
  margin: auto 1.5em 4vh 1.5em;
}

#navButtons {
  height: 10vh;
  margin: auto 0.5em auto 0.5em;
}

#navbarMobile {
  background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/gather-banner1.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
}

.navLogoMobile {
  width: 5%;
  background-color: black !important;
}

#navSideBar {
  background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/cafe4.jpg") !important;
  filter: blur(2px);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1em;
}

#itemCards {
  margin-bottom: 5vh;
}

#itemCard {
  margin: 2vh 0 2vh 0;
}

.content {
  background-color: #ABA387 !important;
}

#menuCard {
  background-color: #E28C05 !important;
}

#footer {
  border: 1px solid blue;
  background-color: #ABA387 !important;
  color: black !important;
  text-align: center;
  bottom: 0;
  padding-top: 2vh;
  width: 100%;
}

#submitOrderButtons {
  margin-top: 2em !important;
}

#homePage {
  border: 1px solid green;
  background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/cafe1.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  width: 97%;
  font-weight: normal;
  margin-top: 1.5em;
}

#homeBackground {
  border: 1px solid red;
  background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/cafe2.jpg") !important;
  height: 100% !important;
  background-size: cover;

}

#menuList {
  background-image: url("https://s3.us-east-2.amazonaws.com/gather-stock/cafe1.jpg");
  background-size: cover;
}

#menuListItem {
  opacity: .95;
  width: 40%;
  text-align: center;
}