body {
  background-color:
    black !important;
}

Button {
  background-color: #E28C05 !important;
  color: white !important;
}

a {
  color: black !important;
}

.content {
  background-color: #ABA387 !important;
}

#menuCard {
  background-color: #E28C05 !important;
}

#navbar {
  background-color: #E28C05 !important;
  margin-bottom: 2em;
  color: black;
}

#footer {
  background-color: #ABA387 !important;
  margin-top: 2em;
  color: black !important;
  text-align: center;
}

#submitOrderButtons {
  margin-top: 2em;
}

#navHead {
  padding: auto !important;
  margin: auto !important;
}