body {
  background-color: grey !important;
}

a {
  color: orange !important;
}

#menuCard {
  background-color: orange !important;
}

#navbar {
  background-color: black !important;
  margin-bottom: 2em;
  color: orange;

}

#footer {
  background-color: black !important;
  margin-top: 2em;
  color: orange !important;
}

#submitOrderButtons {
  margin-top: 2em;
}